<div class="container">
    <div class="jumbotron card card-image"
        style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
        <div class="text-white text-center py-5 px-4">
            <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>E-bill</strong></h2>
                <p class="mx-5 mb-5">Online Bill Generator for Rameshwar Enterprise and Bhupat P Prajapati
                </p>
                <a class="btn btn-outline-white btn-md" href="/app/details"><i class="fas fa-clone left"></i> Get
                    Started</a>
            </div>
        </div>
    </div>
</div>